    .mz-thumb:hover:not(.mz-thumb-selected) img{
        filter: brightness(100%)
    }
    #map_1 {
        width: 70vw;
        height: 70vh;
        border: 2px solid lightgreen;
    }
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 0.8rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
 
 .star-rating1{
	font-size: 0;
}
.star-rating__wrap1{
	display: inline-block;
	font-size: 0.8rem;
}
.star-rating__wrap1:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico1{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico1:last-child{
	padding-left: 0;
}
.star-rating__input1{
	display: none;
}
.star-rating__ico1:hover:before,
.star-rating__ico1:hover ~ .star-rating__ico1:before,
.star-rating__input1:checked ~ .star-rating__ico1:before
{
	content: "\f005";
}